* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: system-ui, sans-serif;
    font-size: 12px;
    --highlight-color: #f6e9ac;
}

header, main {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
}

main {
    justify-content: flex-start;
    gap: .8rem;
}

header {
    padding-top: 3rem;
    padding-right: .5rem;
    align-items: center;
    justify-content: space-between;

}

h1 {
    font-size: 3rem;
}

#add-button {
    font-size: 1.2em;
    height: 2em;
    font-weight: 800;
    border-radius: 10px;
    border: none;
    padding: 0 2em;
    background-color: #b1dfae;

}

#add-button:hover {
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid rgb(0 0 0 / 10%);
}

h2 {
    margin: 5px;
    font-size: 1.4rem;

}

h3 {
    font-size: 1.2rem;
}

.book {
    flex: 0 0 24%;
    aspect-ratio: 1 / 1.3;
    border: 1px solid black;
    text-align: center;
    padding-top: 10%;
}

.book:hover {
    background-color: var(--highlight-color);
}

.pages {
    padding-top: 1em;
}

.pages::after {
    content: " pages";
}

